@model ddac.Models.Schedule

@using (Html.BeginForm("Create", "Schedules", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">

    <div class='container-fluid'>
        <div class='form-group row'>
            <div class="col-md-6">
                <label>@Html.LabelFor(model => model.Departure, htmlAttributes: new { @class = "col-md-2 form-control-label" })</label>
                <div class='input-group date col-md-8' id='datetimepicker1'>
                    @Html.EditorFor(m => m.Departure, new { htmlAttributes = new { @class = "form-control" } })
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    @Html.ValidationMessageFor(model => model.Departure, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <label>
                    @Html.LabelFor(model => model.Arrival, htmlAttributes: new { @class = "form-control-label col-md-2" })
                </label>
                <div class='input-group date col-md-8' id='datetimepicker2'>
                    @Html.EditorFor(m => m.Arrival, new { htmlAttributes = new { @class = "form-control" } })
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    @Html.ValidationMessageFor(model => model.Departure, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.ShipId, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ShipId, new SelectList(ViewBag.shipdropdown, "ShipId", "ShipName"), "Select Ship", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ShipId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Source, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.Source, "Select shipping source", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Source, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Destination, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.Destination, "Select shipping destination", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Destination, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10 col-md-offset-8 ">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" >Add</button>
        </div>
    </div>

</div>
}

@Scripts.Render("~/bundles/datetimepicker")

<script>

    $(function () {
        var today = new Date();
        var tomorrow = new Date(today.getTime() + 24 * 60 * 60 * 1000);
        $('#datetimepicker1').datetimepicker({
            format: 'DD/MM/YYYY',
            minDate: today,
        });

        $('#datetimepicker2').datetimepicker({
            useCurrent: false,
            format: 'DD/MM/YYYY',
            minDate: tomorrow
        });
        $("#datetimepicker1").on("dp.change", function (e) {
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker2").on("dp.change", function (e) {
            $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
        });
    });




    //function AddNewBooking() {
    //    var Departure = $('#Departure').val();
    //    var Arrival = $('#Arrival').val();

    //    var Ship = $('#ShipId').val();
    //    var Destination = $('#Destination').val();
    //    var Source = $('#Source').val();

    //    debugger;

    //    if (Departure != "" && Arrival != "" && Destination != "" && Ship != "" != "" && Source != "") {

    //        $.ajax({
    //            type: "POST",
    //            url: "/Schedules/Create",
    //            data: {
    //                Departure: Departure,
    //                Arrival: Arrival,
    //                ShipId:Ship,
    //                Destination: Destination,
    //                Source: Source,
    //            },

    //            success: function () {
    //                alert("Successfully Added");
    //                location.reload();
    //            },
    //            error: function () {
    //                alert("Error");
    //            }
    //        })
    //    }

    //    else {
    //        alert("Please fill up all fields!");
    //    }
    //}
</script>
