
@model IEnumerable<ddac.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingAddress)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @("CU" + item.CusId.ToString("D4"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @(item.ShippingAddress.Addressline1 + "," + item.ShippingAddress.City + ",") <br />
                @( item.ShippingAddress.Postcode + "," + item.ShippingAddress.StateOrProvince + ","
                        + item.ShippingAddress.Country)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CusId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CusId })|
                @Html.ActionLink("Create Booking", "AddItem","Items", new { id = item.CusId }, null)
            </td>
        </tr>
    }

</table>

 