@model ddac.Models.Customer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Customer</h2>

<h3>Are you sure you want to delete this Customer?</h3>
<div>
    <h4>Customer: @("CU" + Model.CusId.ToString("D4")) - @Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingAddress)
        </dt>

        <dd>
            @(@Model.ShippingAddress.Addressline1 + "," + @Model.ShippingAddress.City + ",") <br />
            @( @Model.ShippingAddress.Postcode + "," + @Model.ShippingAddress.StateOrProvince + ","
                    + @Model.ShippingAddress.Country)
        </dd>

       

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Customer")
        </div>
    }
</div>
