@model ddac.Models.User

@using (Html.BeginForm("_AddAgent", "Admin"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
 
        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "form-control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group ">
            <label class="form-form-control-label col-md-2">Retype Password :</label>
            <div class="col-md-10">
                <input class="form-control" type="password" value="" id="retypepassword" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-form-control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="AddNewAgent()">Add</button>
            </div>
        </div>
    </div>
}

    <script>
    function AddNewAgent() {
        var Username = $('#Username').val();
        var Password = $('#Password').val();
        var retypepassword = $('#retypepassword').val();
        var Name = $('#Name').val();
        var found = false;
        $.ajax({
            type: "GET",
            url: "/Admin/DoesUserNameExist",
            async: false,
            data: {
                Username: Username,
            },
            success: function (data) {
                found = data;
            },

        });

        if (Password != "" && Username != "" && Name != "") {
            
            if (!found) {
                if (Password == retypepassword) {
                    $.ajax({
                        type: "POST",
                        url: "/Admin/AddAgent",
                        data: {
                            Username: Username,
                            Password: Password,
                            Name: Name,

                        },

                        success: function () {
                            alert("Successfully Added");
                            location.reload();
                        },
                        error: function () {
                            alert("Error");
                        }
                    })
                }
                else {
                    alert("Password not matched");
                }
            } else {
                alert("Username exists");
            }
        }
        else {
            alert("Please fill up all fields!");
        }
    }
    </script>