@model IEnumerable<ddac.ViewModels.ScheduleViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Schedule.Departure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule.Arrival)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule.Source)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Schedule.ShipId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ship.ShipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ship.IMO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule.Departure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule.Arrival)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule.Destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule.Source)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Schedule.ShipId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ship.ShipName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ship.IMO)
        </td>
        <td>
            @Html.ActionLink("List Booking", "Edit", new { id = item.Schedule.ScheduleId }) 
            
        </td>
    </tr>
}

</table>
