@model IEnumerable<ddac.ViewModels.ScheduleViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Schedule.Departure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule.Arrival)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule.Source)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Schedule.ShipId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ship.ShipName)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule.Departure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule.Arrival)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule.Destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule.Source)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Schedule.ShipId)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Ship.ShipName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Schedule.ScheduleId }) |
            @Html.ActionLink("Details", "Details", new { id = item.Schedule.ScheduleId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Schedule.ScheduleId })
        </td>
    </tr>
}

</table>
